<template>
  <footer>
    <div class="footer-content">
        <div class="brand" v-on:click="homeClick">
            <span class="icon army-knife"></span> <h1>derrick ypenburg [ designer + developer ]</h1>
        </div>
          <div class="footer-nav">
              <ul>
                <li><router-link to="/">Portfolio</router-link></li>
                <li><router-link to="/about">About Me</router-link></li>
                <li><router-link to="/contact"
                                 class="pill-button"><span>Contact Me</span></router-link></li>
                  <li><a href="https://www.linkedin.com/in/derrickypenburg"
                                   class="icon linkedin-icon" target="_blank"><span class="sr-only">LinkedIn
                  </span></a></li>

              </ul>
          </div>
    </div>
  </footer>
</template>

<script>

export default {
  name: 'Footer',
  methods: {
    homeClick() {
      this.$router.push('/');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
