<template>
  <header>
      <div class="header-alert">
          I'm currently seeking full-time or freelance opportunities. <router-link to="/contact">Contact Me</router-link> if you're interested
      </div>
      <nav>
          <div class="brand" v-on:click="homeClick">
              <span class="icon army-knife"></span>
              <span class="show-mobile"><h1>derrick ypenburg<br>[ designer +
                  developer ]</h1></span>
              <span class="hide-mobile"><h1>derrick ypenburg [ designer +
                  developer ]</h1></span>
          </div>
          <div class="nav-menu" v-bind:class="{'active': isActive }">
              <ul>
                  <li><router-link to="/">Portfolio</router-link></li>
                  <li><router-link to="/about">About Me</router-link></li>
                  <li>
                      <router-link to="/contact"
                                   class="pill-button">Contact Me</router-link>
                  </li>
                <li><a href="https://www.linkedin.com/in/derrickypenburg"
                                           class="icon linkedin-icon" target="_blank"><span class="sr-only">LinkedIn
                  </span></a></li>
              </ul>
          </div>

        <div class="burger" v-on:click="toggleNav" v-bind:class="{'burger-active': isActive}">
          <div class="line0"></div>
          <div class="line1"></div>
          <div class="line2"></div>
        </div>
      </nav>
  </header>
</template>

<script>

export default {
  name: 'Header',
  data() {
    return {
      isActive: false,
      navLinks: []
    }
  },
  mounted() {
    this.navLinks = document.querySelectorAll('.nav-menu ul li');
  },
  methods: {
    homeClick() {
        this.$router.push('/');
    },
    toggleNav() {
      // console.log('toggleNav()');
      this.isActive = !this.isActive;
      this.navLinks.forEach((link, index) => {
        if (link.style.animation) {
          link.style.animation = '';
          document.body.style.overflow = 'auto';
          document.body.style.height = '100%';
        } else {
          link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.3}s`;
          //document.body.style.position = 'fixed';
          document.body.style.overflow = 'hidden';
          document.body.style.height = '100vh';
        }
      })
    }
  },
  watch: {
    '$route' () {
      this.isActive = false;
      this.navLinks.forEach((link) => {
        if (link.style.animation) {
          link.style.animation = '';
          document.body.style.position = 'relative';
          document.body.style.height = '100%';
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
