<template>
    <div class="portfolio-item" data-app>
        <v-dialog v-model="dialog" scrollable max-width="1024px">
            <template v-slot:activator="{ on, attrs }">
                <transition name="expand">
                    <div class="item-container"
                         v-if="showItem" v-bind:style="getItemDelay" v-bind:class="{'scale-item': isMounted && !removeAnimationAfterLoad }">
                        <div class="background" v-bind:class="{ 'is-private': isPrivate && !isLoggedIn}" v-bind:style="getBackgroundImage" />
                        <div class="locked-blocker" v-if="isPrivate && !isLoggedIn" />
                        <div class="content" color="primary" dark v-bind="attrs" v-on:click="openModal"><!-- v-on="on" -->
                          <div class="details">{{item.project_title}}</div>
                        </div>
                    </div>
                </transition>
            </template>
            <v-card>
                <v-card-title class="headline">
                    <h1>{{item.project_title}}</h1>
                    <div class="close-modal-button">
                        <v-btn color="green darken-1" text @click="dialog = false"></v-btn>
                    </div>
                </v-card-title>
                <v-card-text class="work-feature-modal-content">
                    <div class="content-head">
                        <div class="work-modal-feature-text">
                            <h2>Client: {{item.client_name}}</h2>
                            <div v-html="item.description" class="item-description"></div>
                            <p class="item-link"><a v-bind:href="item.url" target="_blank">{{item.url}}</a></p>
                        </div>
                        <div class="work-modal-feature-images">
                            <ul>
                                <li><img class="work-modal-feature-img" v-bind:src="item.feature_image" /></li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <ul v-if="item.images.length > 0">
                            <li v-for="(img, i) in item.images" :key="i">
                                <p v-if="img.description" v-html="img.description" />
                                <img class="work-modal-feature-img" v-bind:src="img.select_image" />
                            </li>
                        </ul>

                        <ul v-if="item.videos.length > 0">
                            <li v-for="(video, j) in item.videos" :key="j" class="work-video-item">
                                <h3>{{video.title}}</h3>
                                <p v-if="video.description" v-html="video.description" style="padding-bottom: 2rem;"/>
                                <div class="video-container">
                                    <iframe
                                        v-bind:src="'https://www.youtube.com/embed/'+ video.youtube_id"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </li>
                        </ul>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {mutations, store} from "@/store/store";

    export default {
        name: "WorkItem",
        props: {
            item: Object,
            index: Number,
            showItem: Boolean
        },
        data () {
            return {
                dialog: false,
                isMounted: false,
                backgroundImage: '',
                itemDelay: (this.index * .100) + 's',
                isPrivate: false,
                isLoggedIn: store.loggedIn,
                removeAnimationAfterLoad: false
            }
        },
        watch: {
          showItem: function() { // watch it newVal, oldVal
            // console.log('WorkItem index: ', this.index, Number(store.paramId));
            if (store.paramId) {
              if (this.index === Number(store.paramId)) {
                this.dialog = true;
                mutations.setParamId(-1);
              }
            }
            setTimeout(()=> {
              this.itemDelay = '0s';
              this.removeAnimationAfterLoad = true;
            }, 1000)
          },
          dialog: function() {
            if (this.dialog) {
              this.$ua.trackEvent(
                  'portfolio-item', 'open', this.item.project_title, this.index
              )
            }
          },
          loggedIn: function(newVal) { // watch it newVal, oldVal
            this.isLoggedIn = newVal;
          }
        },
        computed: {
            getItemDelay() {
                return {
                    'animationDelay': this.itemDelay,
                }
            },
            getBackgroundImage() {
              return {
                'backgroundImage': this.backgroundImage
              }
            },
            loggedIn() {
              return store.loggedIn
            }
        },
        methods: {
            setDisplay() {
                // console.log('this setDisplay ', this.index);
                this.isMounted = true;
            },
            openModal() {
              if (!this.isPrivate || this.isLoggedIn) {
                this.dialog = !this.dialog;
              } else  {
                this.$alert('Please contact me for access to this project.');
              }
            }
        },
        mounted: function() {
            // console.log('this.item: ', this.item);
            this.backgroundImage = 'url(' + this.item.feature_image + ')';

            if (this.item.private && this.item.private.length > 0) {
              this.isPrivate = true;
            }

            this.setDisplay();
            this.$emit('portfolioItemReady', this.index);
        }
    }
</script>

<style>
    /* always present */
    .expand-transition {
        transition: all .2s ease-out;
    }
    .expand-enter, .expand-leave {
        opacity: 0.25;
        transform: scale(0, 0);
    }
</style>

