.about-page {
  max-width: 1024px;
  margin: auto;
  padding-bottom: 4rem;

  @media only screen and (max-width: $query-mobile) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h2 {
    font-size: 3rem;
    color: #33332A;
    padding: 2rem 2rem 0px 0.5rem;
  }

  p {
    padding: 1rem 2rem 0px 0.5rem;
  }

  .cols-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;

    @media only screen and (max-width: $query-mobile) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
    }
  }

  .skillset {
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 1rem;

    img {
      width: 60%;
    }

    @media only screen and (max-width: $query-mobile) {
      img {
        width: 60%;
      }
    }

    p {
      padding: 0 0 1rem 0;
      font-weight: 500;
    }
  }

}
