.contact-page {
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
  padding-bottom: 4rem;
  @media only screen and (max-width: $query-mobile) {
    grid-template-columns: 1fr;
  }

  .contact-form {
    padding-left: 2rem;
  }

  .contact-info {
    padding-top: 3rem;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
      }
    }
  }

  h2 {
    font-size: 3rem;
    color: #33332A;
    padding: 2rem 2rem 0px 0.5rem;
  }

  p {
    padding-left: 0.5rem;
  }

  @media only screen and (max-width: $query-mobile) {
    grid-template-columns: 1fr;

    .contact-form {
      padding-left: 0rem;
    }
  }

  input, textarea {
    background-color: #eeeeee;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .v-text-field.v-input--has-state .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-messages, .v-text-field .v-input__control, .v-text-field fieldset {
    color: #ea4c89;
  }

  .contact-success {
    margin: 1rem;
    padding: 1rem;
    background: rgb(69,188,210);
    border-radius: 0.5rem;
    color: #ffffff;

    animation: fadeIn ease 1s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
}
