footer {
  width: 100%;
  background-color: #999999;
  padding: 2rem;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 100%;


  .footer-content {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: $query-mobile) {
      grid-template-columns: 1fr;
    }

    .brand {
      font-size: 14px;
      text-align: left;

      h1 {
        font-size: 1rem;
        display: inline-block;
        color: #000000;
        padding-left: 1rem;
      }

      @media only screen and (max-width: $query-mobile) {
        text-align: center;
        h1 {
          padding-left: 0;
          padding-bottom: 2rem;

          .icon {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .footer-nav {
      text-align: right;

      @media only screen and (max-width: $query-mobile) {
        text-align: center;
      }
      ul {
        list-style-type: none;
        display: inline-block;

        li {
          display: inline-block;
          padding: 0.5rem;

          .pill-button {
            height: 40px;
            line-height: 40px;
            padding: 0 1rem;
          }

          .icon {
            width: 40px;
            height: 40px;
          }

          a {
            color: #ffffff;
          }
        }
      }
    }
  }
}
