header {
  border-bottom: rgb(110, 109, 122) solid 1px;
  position: relative;
  nav {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    padding: 1rem 2rem;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: $query-mobile) {
      grid-template-columns: 4fr 1fr;
      padding: 8px;
    }

    .brand {
      vertical-align: middle;
      cursor: pointer;

      h1 {
        font-size: 1.3em;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 1em;
        margin: 0;
        @media only screen and (max-width: $query-mobile) {
          font-size: 1em;
        }
      }
    }

    .nav-menu {
      text-align: right;
      ul {
        list-style-type: none;
        display: inline-block;

        li {
          padding-left: 1rem;
          display: inline-block;

          a {
            color: #666666;

            &:hover {
              text-decoration: underline;
            }
          }

          .icon {
            height: 40px;
          }

          .pill-button {
            height: 40px;
            line-height: 40px;
            padding: 0 1.5rem;
            color: #ffffff;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      @media only screen and (max-width: 768px) {
        position: absolute;
        top: 67px;
        right: 0;
        transform: translateX(100%);
        height: 95vh;
        background-color: #ffffff;
        width: 75%;
        z-index: 10000;
        transition: transform 0.5s ease;

        ul {
          width: 100%;
          padding-top: 2rem;
          li {
            display: block;
            text-align: center;
            padding: 1rem 0;
            transform: translateX(100%);
            opacity: 0;
            transition: all 0.5s ease-out;
          }
        }

        &.active {
          right: 0;
          transform: translateX(0);
          box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.41);
        }
      }

      @media only screen and (max-width: 414px) {
        // top: 129px;
      }
    }

    .burger {
      width: 25px;
      display: none;
      cursor: pointer;
      margin-top: 10px;

      div {
        width: 100%;
        height: 3px;
        background-color: #000000;
        margin-bottom: 8px;
        transition: all 0.5s ease;
      }

      &.burger-active {
        .line0 {
          transform: rotate(45deg) translate(4px, 16px);
        }
        .line1 {
          display: none;
        }
        .line2 {
          transform: rotate(-45deg) translate(-8px, -4px);
        }
      }

      @media only screen and (max-width: $query-mobile) {
        display: block;
      }
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
