.loader-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  .loader-animation {
    width: 200px;
    height: 200px;
    margin: auto;
    background: url(../assets/img/loader-animation.gif) no-repeat;
  }
}
