.fade-page-enter-active,
.fade-page-leave-active {
  transition-duration: .5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-page-enter,
.fade-page-leave-active {
  opacity: 0
}
