.portfolio-container {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media only screen and (max-width: $query-mobile) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 414px) {
    grid-template-columns: 1fr;
  }

  .portfolio-item {
    .item-container {
      position: relative;
      width: 100%;
      padding-top: 66.66%;
      border-radius: 10px;

      // display: none;

      &.scale-item {
        transform: scale(0);
        animation: scaleIn ease-in-out 0.25s forwards;

        @keyframes scaleIn {
          0% {transform: scale(0);}
          100% {transform: scale(1);}
        }
      }

      -webkit-box-shadow: 10px 10px 28px -14px rgba(0,0,0,0.78);
      -moz-box-shadow: 10px 10px 28px -14px rgba(0,0,0,0.78);
      box-shadow: 10px 10px 28px -14px rgba(0,0,0,0.78);

      &:hover {
        transform: scale(1.1);
        animation: scaleItem ease-in-out 0.25s;
        z-index: 1;
      }

      @keyframes scaleItem {
        0% {transform: scale(1);}
        100% {transform: scale(1.1);}
      }

      .background {
        position: absolute;
        background: no-repeat center center;
        background-size: cover;
        transition: all 0.25s ease-in-out;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;

        &.is-private {
          filter: blur(3px);
        }
      }

      .locked-blocker {
        background: url(../assets/img/icons/feather-lock.svg) no-repeat center center rgba(255,255,255, 0.5);
        background-size: 70%;
        width: 50px;
        height: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 200;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 10px 10px 28px -14px rgba(0,0,0,0.8);
        border-radius: 4px;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 1.5rem;
        cursor: pointer;
        overflow: hidden;
        z-index: 2;

        .details {
          position: absolute;
          z-index: 100;
          left: 0;
          bottom: 0;
          right: 0;

          padding: 1rem;
          color:#ffffff;
          font-size: 1.25rem;

          background: rgb(51,51,51);
          background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);

          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          text-shadow: 1px 1px rgba(0,0,0,0.7);

          transition: all 0.25s ease-in-out;
          transform: translateY(100%);
        }

        &:hover {
          .details {
            transform: translateY(0);
          }
        }
      }
    }

    .label {
      padding: 0.75rem 0.5rem;
      font-weight: 500;
    }
  }
}

.work-feature-modal-content {
  div {
    width: 100%;
  }
  position: relative;
  .content-head {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-column-gap: 2em;
    position: relative;

    @media only screen and (max-width: $query-mobile) {
      grid-template-columns: 1fr;
    }

    .work-modal-feature-text {
      position: static;
      p {
        font-size: 1rem;
        padding-bottom: 1rem;

        &.item-link {
          padding-bottom: 3rem;
        }
      }

      .item-description {
        padding-bottom: 2rem;
        ul {
          list-style-type: disc;
          padding-left: 1rem;
          padding-bottom: 1rem;

          li {
            padding-bottom: 0;
          }
        }
      }
  }

  h2 {
    margin-bottom: 1em;
  }



  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding-bottom: 2rem;
      h3 {
        padding: 0 0 1rem 0;
        font-size: 1.4rem;
      }

      &.work-video-item {
        .video-container {
          width: 100%;
          min-height: 325px;
          background: url(../assets/img/icons/youtube-placeholder.png) no-repeat center;
          background-size: cover;
          border-radius: 1rem;
          overflow: hidden;
          position: relative;

          iframe {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 330px;

            @media only screen and (max-width: $query-mobile) {
              min-height: auto;
            }
          }

          @media only screen and (max-width: $query-mobile) {
            min-height: auto;
          }
        }
      }
    }
  }

  .work-modal-feature-img {
    border-radius: 10px;
    width: 100%;
  }
}

.close-modal-button {
  position: absolute;
  right: 10px;
  top: 10px;

  button {
    width: 30px !important;
    min-width: 30px !important;
    height: 30px !important;
    border-radius: 15px;
    background: #333333 url(../assets/img/icons/close-icon.svg) center no-repeat;
    background-size: 50%;
    padding: 0;
    color: #ffffff !important;
    font-size: 1rem !important;
  }
}

.login-container {
  text-align: right;
  padding: 2em 2em 0 2em;
}

