.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.show-mobile {
  display: none;
}

// ALert confirm button
.swal2-styled.swal2-confirm {
  background-color: #ea4c89 !important;
}

@media only screen and (max-width: 414px) {
  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: inline-block;
  }
}

.icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  background-position: center !important;

  &.army-knife {
    background: url(../assets/img/icons/army-knife.svg) no-repeat;
  }

  &.linkedin-icon {
    background: url(../assets/img/icons/linkedin-icon.svg) no-repeat;
  }
}

.access-lock-button {
  width: 2rem;
  height: 2.1rem;
  background: url(../assets/img/icons/feather-lock.svg) no-repeat center center;
  background-size: 90%;
  display: inline-block;
  vertical-align: middle;
  &:focus {outline:0;}
}

.unlock-icon {
  background-image: url(../assets/img/icons/feather-unlock.svg) !important;
}

.header-alert {
  background: #2e2e2e;
  color: #ffffff;
  padding: 0.75rem 1rem;
  text-align: center;
  font-size: 14px;
}
