@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body, html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}
@media only screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
}

a {
  color: #ea4c89;
  text-decoration: none;
}
a:hover {
  color: #666666;
}
a.pill-button {
  display: inline-block;
  padding: 0.6rem;
  color: #ffffff;
  background-color: #ea4c89 !important;
  border-radius: 7px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;
}
a.pill-button:hover {
  background-color: #666666 !important;
  color: #ffffff;
}

h1, h2, h3, p {
  word-break: keep-all !important;
}

button.submit-button {
  display: inline-block;
  padding: 0.6rem 1rem;
  color: #ffffff;
  background-color: #ea4c89 !important;
  border-radius: 7px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;
}
button.submit-button:hover {
  background-color: #666666 !important;
  color: #ffffff;
}
button.submit-button:disabled {
  background-color: #666666 !important;
  color: #ffffff;
  cursor: not-allowed;
}

#app {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main-content {
  min-height: 80vh;
}

header {
  border-bottom: #6e6d7a solid 1px;
  position: relative;
}
header nav {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  header nav {
    grid-template-columns: 4fr 1fr;
    padding: 8px;
  }
}
header nav .brand {
  vertical-align: middle;
  cursor: pointer;
}
header nav .brand h1 {
  font-size: 1.3em;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 1em;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  header nav .brand h1 {
    font-size: 1em;
  }
}
header nav .nav-menu {
  text-align: right;
}
header nav .nav-menu ul {
  list-style-type: none;
  display: inline-block;
}
header nav .nav-menu ul li {
  padding-left: 1rem;
  display: inline-block;
}
header nav .nav-menu ul li a {
  color: #666666;
}
header nav .nav-menu ul li a:hover {
  text-decoration: underline;
}
header nav .nav-menu ul li .icon {
  height: 40px;
}
header nav .nav-menu ul li .pill-button {
  height: 40px;
  line-height: 40px;
  padding: 0 1.5rem;
  color: #ffffff;
}
header nav .nav-menu ul li .pill-button:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  header nav .nav-menu {
    position: absolute;
    top: 67px;
    right: 0;
    transform: translateX(100%);
    height: 95vh;
    background-color: #ffffff;
    width: 75%;
    z-index: 10000;
    transition: transform 0.5s ease;
  }
  header nav .nav-menu ul {
    width: 100%;
    padding-top: 2rem;
  }
  header nav .nav-menu ul li {
    display: block;
    text-align: center;
    padding: 1rem 0;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  header nav .nav-menu.active {
    right: 0;
    transform: translateX(0);
    box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.41);
  }
}
header nav .burger {
  width: 25px;
  display: none;
  cursor: pointer;
  margin-top: 10px;
}
header nav .burger div {
  width: 100%;
  height: 3px;
  background-color: #000000;
  margin-bottom: 8px;
  transition: all 0.5s ease;
}
header nav .burger.burger-active .line0 {
  transform: rotate(45deg) translate(4px, 16px);
}
header nav .burger.burger-active .line1 {
  display: none;
}
header nav .burger.burger-active .line2 {
  transform: rotate(-45deg) translate(-8px, -4px);
}
@media only screen and (max-width: 768px) {
  header nav .burger {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
footer {
  width: 100%;
  background-color: #999999;
  padding: 2rem;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 100%;
}
footer .footer-content {
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  footer .footer-content {
    grid-template-columns: 1fr;
  }
}
footer .footer-content .brand {
  font-size: 14px;
  text-align: left;
}
footer .footer-content .brand h1 {
  font-size: 1rem;
  display: inline-block;
  color: #000000;
  padding-left: 1rem;
}
@media only screen and (max-width: 768px) {
  footer .footer-content .brand {
    text-align: center;
  }
  footer .footer-content .brand h1 {
    padding-left: 0;
    padding-bottom: 2rem;
  }
  footer .footer-content .brand h1 .icon {
    width: 60px;
    height: 60px;
  }
}
footer .footer-content .footer-nav {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  footer .footer-content .footer-nav {
    text-align: center;
  }
}
footer .footer-content .footer-nav ul {
  list-style-type: none;
  display: inline-block;
}
footer .footer-content .footer-nav ul li {
  display: inline-block;
  padding: 0.5rem;
}
footer .footer-content .footer-nav ul li .pill-button {
  height: 40px;
  line-height: 40px;
  padding: 0 1rem;
}
footer .footer-content .footer-nav ul li .icon {
  width: 40px;
  height: 40px;
}
footer .footer-content .footer-nav ul li a {
  color: #ffffff;
}

.loader-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.loader-container .loader-animation {
  width: 200px;
  height: 200px;
  margin: auto;
  background: url(../assets/img/loader-animation.gif) no-repeat;
}

.fade-page-enter-active,
.fade-page-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-page-enter,
.fade-page-leave-active {
  opacity: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

.show-mobile {
  display: none;
}

.swal2-styled.swal2-confirm {
  background-color: #ea4c89 !important;
}

@media only screen and (max-width: 414px) {
  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: inline-block;
  }
}
.icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  background-position: center !important;
}
.icon.army-knife {
  background: url(../assets/img/icons/army-knife.svg) no-repeat;
}
.icon.linkedin-icon {
  background: url(../assets/img/icons/linkedin-icon.svg) no-repeat;
}

.access-lock-button {
  width: 2rem;
  height: 2.1rem;
  background: url(../assets/img/icons/feather-lock.svg) no-repeat center center;
  background-size: 90%;
  display: inline-block;
  vertical-align: middle;
}
.access-lock-button:focus {
  outline: 0;
}

.unlock-icon {
  background-image: url(../assets/img/icons/feather-unlock.svg) !important;
}

.header-alert {
  background: #2e2e2e;
  color: #ffffff;
  padding: 0.75rem 1rem;
  text-align: center;
  font-size: 14px;
}

.portfolio-container {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}
@media only screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 414px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
.portfolio-container .portfolio-item .item-container {
  position: relative;
  width: 100%;
  padding-top: 66.66%;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 28px -14px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 10px 10px 28px -14px rgba(0, 0, 0, 0.78);
  box-shadow: 10px 10px 28px -14px rgba(0, 0, 0, 0.78);
}
.portfolio-container .portfolio-item .item-container.scale-item {
  transform: scale(0);
  animation: scaleIn ease-in-out 0.25s forwards;
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.portfolio-container .portfolio-item .item-container:hover {
  transform: scale(1.1);
  animation: scaleItem ease-in-out 0.25s;
  z-index: 1;
}
@keyframes scaleItem {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.portfolio-container .portfolio-item .item-container .background {
  position: absolute;
  background: no-repeat center center;
  background-size: cover;
  transition: all 0.25s ease-in-out;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}
.portfolio-container .portfolio-item .item-container .background.is-private {
  filter: blur(3px);
}
.portfolio-container .portfolio-item .item-container .locked-blocker {
  background: url(../assets/img/icons/feather-lock.svg) no-repeat center center rgba(255, 255, 255, 0.5);
  background-size: 70%;
  width: 50px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 10px 10px 28px -14px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
.portfolio-container .portfolio-item .item-container .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}
.portfolio-container .portfolio-item .item-container .content .details {
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #ffffff;
  font-size: 1.25rem;
  background: #333333;
  background: linear-gradient(0deg, #333333 0%, rgba(51, 51, 51, 0) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.25s ease-in-out;
  transform: translateY(100%);
}
.portfolio-container .portfolio-item .item-container .content:hover .details {
  transform: translateY(0);
}
.portfolio-container .portfolio-item .label {
  padding: 0.75rem 0.5rem;
  font-weight: 500;
}

.work-feature-modal-content {
  position: relative;
}
.work-feature-modal-content div {
  width: 100%;
}
.work-feature-modal-content .content-head {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-column-gap: 2em;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .work-feature-modal-content .content-head {
    grid-template-columns: 1fr;
  }
}
.work-feature-modal-content .content-head .work-modal-feature-text {
  position: static;
}
.work-feature-modal-content .content-head .work-modal-feature-text p {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.work-feature-modal-content .content-head .work-modal-feature-text p.item-link {
  padding-bottom: 3rem;
}
.work-feature-modal-content .content-head .work-modal-feature-text .item-description {
  padding-bottom: 2rem;
}
.work-feature-modal-content .content-head .work-modal-feature-text .item-description ul {
  list-style-type: disc;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.work-feature-modal-content .content-head .work-modal-feature-text .item-description ul li {
  padding-bottom: 0;
}
.work-feature-modal-content .content-head h2 {
  margin-bottom: 1em;
}
.work-feature-modal-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.work-feature-modal-content ul li {
  padding-bottom: 2rem;
}
.work-feature-modal-content ul li h3 {
  padding: 0 0 1rem 0;
  font-size: 1.4rem;
}
.work-feature-modal-content ul li.work-video-item .video-container {
  width: 100%;
  min-height: 325px;
  background: url(../assets/img/icons/youtube-placeholder.png) no-repeat center;
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.work-feature-modal-content ul li.work-video-item .video-container iframe {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 330px;
}
@media only screen and (max-width: 768px) {
  .work-feature-modal-content ul li.work-video-item .video-container iframe {
    min-height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .work-feature-modal-content ul li.work-video-item .video-container {
    min-height: auto;
  }
}
.work-feature-modal-content .work-modal-feature-img {
  border-radius: 10px;
  width: 100%;
}

.close-modal-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.close-modal-button button {
  width: 30px !important;
  min-width: 30px !important;
  height: 30px !important;
  border-radius: 15px;
  background: #333333 url(../assets/img/icons/close-icon.svg) center no-repeat;
  background-size: 50%;
  padding: 0;
  color: #ffffff !important;
  font-size: 1rem !important;
}

.login-container {
  text-align: right;
  padding: 2em 2em 0 2em;
}

.contact-page {
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
  padding-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .contact-page {
    grid-template-columns: 1fr;
  }
}
.contact-page .contact-form {
  padding-left: 2rem;
}
.contact-page .contact-info {
  padding-top: 3rem;
}
.contact-page .contact-info ul {
  list-style-type: none;
}
.contact-page .contact-info ul li {
  display: inline-block;
}
.contact-page h2 {
  font-size: 3rem;
  color: #33332A;
  padding: 2rem 2rem 0px 0.5rem;
}
.contact-page p {
  padding-left: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .contact-page {
    grid-template-columns: 1fr;
  }
  .contact-page .contact-form {
    padding-left: 0rem;
  }
}
.contact-page input, .contact-page textarea {
  background-color: #eeeeee;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.contact-page .v-text-field.v-input--has-state .v-input__control > .v-text-field__details > .v-counter, .contact-page .v-text-field.v-input--is-disabled .v-input__control > .v-text-field__details > .v-counter, .contact-page .v-text-field.v-input--is-disabled .v-input__control > .v-text-field__details > .v-messages, .contact-page .v-text-field .v-input__control, .contact-page .v-text-field fieldset {
  color: #ea4c89;
}
.contact-page .contact-success {
  margin: 1rem;
  padding: 1rem;
  background: #45bcd2;
  border-radius: 0.5rem;
  color: #ffffff;
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-page {
  max-width: 1024px;
  margin: auto;
  padding-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .about-page {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.about-page h2 {
  font-size: 3rem;
  color: #33332A;
  padding: 2rem 2rem 0px 0.5rem;
}
.about-page p {
  padding: 1rem 2rem 0px 0.5rem;
}
.about-page .cols-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}
@media only screen and (max-width: 768px) {
  .about-page .cols-4 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}
.about-page .skillset {
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 1rem;
}
.about-page .skillset img {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .about-page .skillset img {
    width: 60%;
  }
}
.about-page .skillset p {
  padding: 0 0 1rem 0;
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
