@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$query-mobile: 768px;

body, html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}


body {
  min-height: 100vh;

  @media only screen and (max-width: $query-mobile) {
    overflow: hidden;
  }
}

a {
  color: #ea4c89;
  text-decoration: none;

  &:hover {
    color: #666666;
  }

  &.pill-button {
    display:inline-block;
    padding: 0.6rem;
    color: #ffffff;
    background-color: #ea4c89 !important;
    border-radius: 7px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: background-color 0.25s ease-out;

    &:hover {
      background-color: #666666 !important;
      color: #ffffff;
    }
  }
}

h1, h2, h3, p {
  word-break: keep-all !important;
}

button.submit-button {
  display:inline-block;
  padding: 0.6rem 1rem;
  color: #ffffff;
  background-color: #ea4c89 !important;
  border-radius: 7px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;

  &:hover {
    background-color: #666666 !important;
    color: #ffffff;
  }

  &:disabled {
    background-color: #666666 !important;
    color: #ffffff;
    cursor: not-allowed;
  }
}


#app {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main-content {
  min-height: 80vh;
}

@import '_header.scss';
@import '_footer.scss';
@import '_loader.scss';
@import '_page-transitions.scss';
@import '_utils.scss';

@import '_portfolio-page.scss';
@import '_contact-page.scss';
@import '_about-page.scss';


