<template>
  <div class="about-page main-content">
    <Loader v-if="isFetching" />
    <transition name="fade-page" mode="out-in">
    <div v-if="!isFetching">

        <div class="page-row no-col">
          <div>
            <h2>About me</h2>
            <p>I'm a designer and developer with over 20 years of industry experience.</p>
            <p>I am focused on UX (User Experience)/UI (User Interface) design/development, and frontend programming of web and mobile applications utilizing the latest development stacks, technologies and best practices.</p>.
          </div>
        </div>

        <h2>Technical skills</h2>
        <div class="page-row cols-4">
          <div class="skillset" v-for="(skill, index) in skillsJson.skills" :key="index">
            <img v-bind:src="skill.skill_icon.url" />
            <p v-html="skill.skill_name"></p>
          </div>
        </div>

    </div>
    </transition>
  </div>
</template>

<script>
import Loader from '../components/Loader.vue'
import {actions, store} from "@/store/store";

  export default {
    name: 'About',
    data() {
      return {
        showItems: false,
        isFetching: true,
        skillsJson: null
      }
    },
    components: {
      Loader
    },
    methods: {

    },
    mounted() {
      if (!store.skillsData) {
        actions.getSkillsData().then((resp) => {
          // console.log('resp: ', resp);
          this.isFetching = false;
          this.skillsJson = resp;
          // console.log(this.skillsJson);
        }).catch((error) => {
          console.log('error: ', error);
          this.$alert('Oh geez. It looks like there are some cloud service issues happening. Please refresh page and try again if you want, but don\'t get frustrated. Please come back later if problem persists.');
        });
      } else {
        this.isFetching = false;
        this.skillsJson = store.skillsData;
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
