<template>
  <div class="contact-page main-content">

    <div class="contact-form">
      <h2>Let's talk!</h2>
      <p>I'm seeking opportunities to collaborate with companies/agencies/individuals, not just work for them. I
        want to bring my collective design and development experience to the table, to work together to achieve
        great products and end-results.</p>
      <v-form v-model="valid" @submit.prevent="sendEmail" v-if="!emailSuccess">
        <v-container>
          <v-row>
            <v-col>
              <v-text-field
                      name="user_name"
                      v-model="name"
                      :rules="nameRules"
                      label="Your name"
                      required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-text-field
                      name="user_email"
                      v-model="email"
                      :rules="emailRules"
                      label="E-mail"
                      required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-textarea
                      name="message"
                      label="Message"
                      rows="6"
                      v-model="message"
                      :rules="messageRules">
              </v-textarea>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <button class="submit-button" type="submit" :disabled="!valid">Send Message</button>
            </v-col>
          </v-row>

        </v-container>
      </v-form>

      <div v-if="emailSuccess" class="contact-success">Thanks for getting in-touch! I will get back to you just as soon
        as I can!</div>
    </div>

    <div class="contact-info">
      <!-- ul>
        <li><router-link to="https://www.linkedin.com/in/derrickypenburg"
                         class="icon linkedin-icon" target="_blank"><span class="sr-only">LinkedIn
                  </span></router-link></li>
      </ul -->
    </div>
  </div>
</template>

<script>
  import emailjs from 'emailjs-com';
  // import { store } from '../store/store';
  export default {
    name: 'Contact',
    data() {
      return {
        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
          v => v.length <= 10 || 'Name must be less than 10 characters',
        ],
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
        message: '',
        messageRules: [
          v => !!v || 'Please enter a message'
          // v => v.length >= 10 || 'You want to say more than that, don\'t you?',
        ],
        emailSuccess: false
      }
    },
    methods: {
      sendEmail(e) {
        console.log('this: ', this);
        let scope = this;
        emailjs.sendForm('service_0kkq83v', 'template_800lwoh', e.target, 'user_KN8yTDEcb9RlqQvWoGqYN')
        .then((result) => {
          console.log('SUCCESS!', result.status, result.text, result, e);
          scope.emailSuccess = true
        }, (error) => {
          console.log('FAILED...', error);
        });
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
