<template>
  <section class="main-content">
    <Loader v-if="!showItems" />
    <div class="login-container">
      <button class="access-lock-button" v-bind:class="{'unlock-icon': loggedIn}" @click.stop="dialog = true" />
      <v-dialog v-model="dialog" max-width="290">
        <v-card>
          <v-card-title class="headline">
            Enter Code
          </v-card-title>

          <v-card-text>
            <p>Enter code I sent to you, or contact me to request one.</p>
            <v-form v-model="valid">
              <v-text-field
                  name="enter_code"
                  v-model="userCode"
                  :rules="nameRules"
                  label="Enter code"
                  required
              ></v-text-field>
            </v-form>
          </v-card-text>

          <v-card-actions>
            <button class="submit-button" type="submit" :disabled="!valid" @click="loginAction" style="margin: auto;">Okay</button>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="portfolio-container" v-if="!isFetching">
        <WorkItem v-for="(data, index) in workJson" :key="index" v-bind:item="data"
                    class="animated" v-bind:id="'work-item-' + index" v-bind:index="index"
                    @portfolioItemReady="onPortfolioItemReady" v-bind:showItem="showItems">
        </WorkItem>
    </div>
  </section>
</template>

<script>

    import Loader from '../components/Loader.vue'
    import WorkItem from '../components/WorkItem.vue'
    import { store, mutations, actions } from '../store/store';

    export default {
        name: 'Main',
        components: {
            WorkItem,
            Loader
        },
        data() {
          return {
              workJson: null,
              isFetching: true,
              itemsLoaded: 0,
              showItems: false,
              dialog: false,
              valid: false,
              userCode: '',
              code: 'unddog',
              nameRules: [
                v => !!v || 'Code is re required',
                v => v.length == 6  || 'Code must be 6 characters long',
              ]
          }
        },
        computed: {
            count() {
                return store.count
            },
            loggedIn() {
              return store.loggedIn
            }
        },
        mounted() {
            let params = this.$route.query;
            // console.log('params: ', params);
            if (params.id && !store.paramId) {
              // console.log('store.paramId: ', store.paramId);
              mutations.setParamId(params.id);
            }

            if (!store.workData) {
                actions.getWorkData().then((resp) => {
                    // console.log('resp: ', resp);
                    this.isFetching = false;
                    this.workJson = resp.map(x => x);
                    // console.log(this.workJson);
                }).catch((error) => {
                    console.log('error: ', error);
                    this.$alert('Oh geez. It looks like there are some cloud service issues happening. Please refresh page and try again if you want, but don\'t get frustrated. Please come back later if problem persists.');
                });
            } else {
                this.isFetching = false;
                this.workJson = store.workData;
            }
        },
        methods: {
          onPortfolioItemReady() {
              this.itemsLoaded++;
              if (this.itemsLoaded === this.workJson.length) {
                  //setTimeout(()=> {
                this.showItems = true;
                mutations.setIsReady(true);
                 // }, 1500)
              }
          },
          setCount: mutations.setCount,
          loginAction() {
            // console.log('loginAction: ', this.loggedIn);
            let userCode = this.userCode.toLocaleLowerCase();
            if (store.codes.includes(userCode)) {
              mutations.setLoggedIn(true);
              this.dialog = false;
            } else {
              this.$alert('Please re-enter your code.');
            }
          }
        },
        watch: {
          loggedIn: function() { // watch it newVal, oldVal

          },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
