<template>
  <div id="app">
    <vue-headful
            title="derrick ypenburg"
            description="My portfolio"
            url="http://www.derrickypenburg.com"
            name="favicon-16x16.png"
            icon="favicon-16x16.png"
    />
    <Header />
    <transition name="fade-page" mode="out-in">
      <router-view />
    </transition>
    <Footer />
  </div>
</template>

<script>
  //require('../' + this.item.featureImage)
import Footer from './components/Footer.vue'
import Header from './components/Header.vue'
import vueHeadful from 'vue-headful';
import { store } from './store/store.js';

let ROOT_PATH = 'http://www.derrickypenburg.com'

  export default {
  name: 'App',
  data() {
    return {
      logo: ROOT_PATH + require('./assets/site-card.png'),
      store: store
    }
  },
  components: {
    Header,
    Footer,
    vueHeadful
  },
  computed: {

  },
  metaInfo() {
    return {
      meta: [
        // Twitter Card
        { name: 'twitter:card', content: 'summary' },
        { name: 'twitter:title', content: 'derrickypenburg designer + developer' },
        { name: 'twitter:description', content: 'Vue sample site showing off Twitter and Facebook Cards.' },
        // image must be an absolute path
        { name: 'twitter:image', content: 'http://www.derrickypenburg.com' + require('./assets/site-card.png') },
        // Facebook OpenGraph
        { property: 'og:title', content: 'derrickypenburg designer + developer' },
        { property: 'og:site_name', content: 'derrick ypenburg' },
        { property: 'og:type', content: 'website' },
        { property: 'og:image', content:  'http://www.derrickypenburg.com' + require('./assets/site-card.png') },
        { property: 'og:description', content: 'derrickypenburg designer + developer' }
      ]
    }
  }
}
</script>

<style>
  @import './css/styles.css';
</style>
